/* Reset básico */
* {
    padding: 0;
    margin: 0;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
}

.box-imagens-finais {
    text-align: center;
    margin-top: 20px;
    position: relative;
}

.box-imagens-finais img {
    width: 100%;
    height: 30px;
    margin: 10px;
    position: absolute;
    left: 10px;
    top: 50px;
}

.box-imagens {
    position: relative;
}

/* Estilo para a imagem do celular */
.imagem-celular {
    border: none;
    width: 450px;
}

.imagem-insta {
    height: 520px;
    position: absolute;
    left: 152px;
    top: 26px;
    border: 5px;
    border-radius: 5px;
}


/* Estilo para o formulário */
.box-form {
    width: 350px;
    border: 1px solid #140404;
    padding: 50px 40px 20px 40px;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    top: -350px;

}

/* Estilo para a seção de lojas */
.box-lojas {
    width: 350px;
    margin-bottom: 15px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: end;
    border: 1px solid #140404;
    border-radius: 5px;

}

body {
    background-color: #f8f4f4;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

input {
    height: 36px;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 1px solid #262626;
    outline: none;
    border-radius: 5px;
    padding-left: 10px;
}

button {
    background-color: aqua;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.login-facebook {
    background-color: #3b5998;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.esqueceu-senha {
    margin-top: 5px;
    text-align: center;
}

.insta-logo {
    margin-top: 25px;
    margin-bottom: 20px;
}

/* Correção de tamanho */
.microsoft-logo {
    height: 30px;
    margin-top: 25px;
    border-radius: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.Cadastrar {
    margin-top: 25px;
    margin-bottom: 5px;
}

.aplicativo {
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    position: absolute;
    left: -3px;
    top: 20px;

}

/* Estilos para dispositivos móveis */
@media (max-width: 600px) {
    .box-imagens {
        display: none;
    }

    .box-form,
    .box-lojas {
        width: 90%;
        padding: 20px;
        margin: 10px;
    }

    .insta-logo {
        width: 50%;
        margin: 0 auto 20px;
    }

    input,
    button {
        width: 100%;
        margin: 10px 0;
    }

    /* Estilo para os logos da Microsoft, Ios, Google */
    .google-logo,
    .ios-logo,
    .microsoft-logo {
        width: 30%;
        margin: 0 5px;
        height: 30px;
        margin-top: 25px;
        border-radius: 5px;
        margin-bottom: 20px;
        border-radius: 5px;

    }
}