/* Reset básico */
* {
    padding: 0;
    margin: 0;
    background: white;
    box-sizing: border-box;
}

.box-imagens-finais {
    text-align: center;
    margin-top: 20px;
}

.box-imagens-finais img {
    margin: 0 10px;
    margin-inline-end: 15px;
   }

/* Estilo para a imagem do celular */
.imagem-celular {
    width: 520px;
}

/* Estilo para o logo da Microsoft */
.microsoft-logo {
    width: 100px;
    border-radius: 5px;
}

/* Estilo para o formulário */
.box-form {
    width: 350px;
    border: 1px solid #140404;
    padding: 50px 40px 20px 40px;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
}

/* Estilo para a seção de lojas */
.box-lojas {
   width: 350px;
   margin-bottom: 15px;
   margin-top: 10px;
   display: flex;
   flex-direction: column;
   align-items: end;
   border: 1px solid #140404;
   border-radius: 5px;
}

body {
    background-color: #f8f4f4;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

input {
    height: 36px;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 1px solid #262626;
    outline: none;
    border-radius: 5px;
    padding-left: 10px;
}

button {
    background-color: aqua;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.login-facebook {
    background-color: #3b5998;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;    
}

.esqueceu-senha {
    margin-top: 5px;
    text-align: center;
}

.insta-logo {
    margin-top: 25px;
    margin-bottom: 20px;
}

/* Correção de tamanho */
.microsoft-logo {
    height: 30px;
    margin-top: 25px;
    border-radius: 5px;
    margin-bottom: 20px;
} 

.Cadastrar {
    margin-top: 25px;
    margin-bottom: 5px;
}

.aplicativo {
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
}

/* Estilos para dispositivos móveis */
@media (max-width: 600px) {
    .box-imagens {
        display: none;
    }

    .box-form, .box-lojas {
        width: 90%;
        padding: 20px;
        margin: 10px;
    }

    .insta-logo {
        width: 50%;
        margin: 0 auto 20px;
    }

    input, button {
        width: 100%;
        margin: 10px 0;
    }

    .google-logo, .ios-logo, .microsoft-logo {
        width: 30%;
        margin: 0 5px;
    }
}

/* Estilo para os logos na seção de aplicativos */
section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

section div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.google-logo, .ios-logo, .microsoft-logo {
    width: 100px; /* Ajuste o tamanho conforme necessário */
    margin: 0 10px; /* Espaçamento uniforme entre os logos */
}

/* Estilo para a nova seção de imagens no final da página */
.box-imagens-finais {
    text-align: center;
    margin-top: 20px;
   
}

.box-imagens-finais img {
    margin: 0 10px;
}

/* Ajuste para dispositivos móveis */
@media (max-width: 600px) {
    .google-logo, .ios-logo, .microsoft-logo {
        width: 70px; /* Ajuste do tamanho para telas menores */
        margin: 0 5px; /* Menor espaçamento entre os logos */
    }
}

/* Slideshow container */
.celular-container {
    position: relative;
    width: 520px; /* Largura da imagem do celular */
    height: auto;
}

.slideshow-container {
    position: absolute;
    top: 50px; /* Ajuste a posição conforme necessário */
    left: 100px; /* Ajuste a posição conforme necessário */
    width: 320px; /* Largura do slideshow dentro da tela do celular */
    height: 540px; /* Altura do slideshow dentro da tela do celular */
    overflow: hidden;
}

.slideshow-container .mySlides {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.slideshow-container .mySlides img {
    width: 100%;
    height: auto;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
.Cadastrar a {
    color: #3b7e98; /* Cor do link */
    text-decoration: none; /* Remove o sublinhado */
    font-weight: bold; /* Negrito */
}

.Cadastrar a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
    cursor: pointer;
}
