/* Reset básico */
* {
    padding: 0;
    margin: 0;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
}

/* Estilo para a seção de lojas */
.get-app {
    margin-top: 20px;
    margin-bottom: 2px;
    background-color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    border: none;
    padding: 1px;
    border-radius: 1px;
}

.get-app p {
    margin-top: 35px;
    margin-bottom: 15px;
    text-align: center;
    border: 1px solid #140404;
}

.box-imagens {
    position: relative;
}

/* Estilo para a imagem do celular */
.imagem-celular {
    border: none;
    width: 450px;
}

.imagem-insta {
    height: 520px;
    position: absolute;
    left: 152px;
    top: 26px;
    border: 5px;
    border-radius: 5px;
}

/* Estilo para o formulário */
.box-form {
    width: 350px;
    border: 1px solid #140404;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 5px;
    margin-bottom: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.box-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* Estilo para a imagem das logos */
.box-imagens-finais {
    display: flex;
    background-color: white;
    justify-content: space-between;
    width: 100%;
}

.google-logo img,
.ios-logo img,
.microsoft-logo img {
    max-width: 80px;
    margin: 10px;
    height: 30px;
    margin-top: 30px;
    border-radius: 15px;
    margin-bottom: 30px;
    background-color: white;
    cursor: pointer;
}

body {
    background-color: #f8f4f4;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

input {
    height: 36px;
    margin-bottom: 10px;
    border: 1px solid #262626;
    outline: none;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 14px;
}

button {
    background-color: aqua;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

button:hover {
    background-color: #007BFF;
}

.login-facebook {
    background-color: #3b5998;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
}

.login-facebook:hover {
    background-color: #2d4373;
}

.esqueceu-senha {
    background-color: white;
    margin-top: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
}

.insta-logo {
    margin-top: 25px;
    margin-bottom: 20px;
}

.Cadastrar {
    border: none;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 14px;
}

.Cadastrar a {
    color: #007BFF;
    text-decoration: none;
}

.Cadastrar a:hover {
    text-decoration: underline;
}

.box-imagens-esqueceu {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Estilos para dispositivos móveis */
@media (max-width: 600px) {
    .box-imagens {
        display: none;
    }

    .box-form,
    .box-lojas {
        width: 90%;
        padding: 20px;
        margin: 10px;
    }

    .insta-logo {
        width: 50%;
        margin: 0 auto 20px;
    }

    input,
    button {
        width: 100%;
        margin: 10px 0;
    }

    /* Estilo para os logos da Microsoft, Ios, Google */
    .google-logo,
    .ios-logo,
    .microsoft-logo {
        width: 30%;
        margin: 5px;
        height: 30px;
        margin-top: 5px;
        border-radius: 5px;
        margin-bottom: 10px;
    }
}
